/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

*{ margin: 0; padding: 0;}

body {
	/*To hide the horizontal scroller appearing during the animation*/
	overflow: hidden;
}

#clouds{
	padding: 400px 0;
	background: #c9dbe9;
	background: -webkit-linear-gradient(top, #2499f3 0%, #fff 100%);
	background: -linear-gradient(top, #2499f3 0%, #fff 100%);
    background: -moz-linear-gradient(top, #2499f3 0%, #fff 100%);
}

/*Time to finalise the cloud shape*/
.cloud {
	width: 200px; height: 60px;
	background: transparent;
	
	/* border-radius: 200px;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px; */
	
	position: relative; 
}

.cloud:before, .cloud:after {
	content: '';
	position: absolute; 
	/* background: #fff; */
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
	-moz-transform: rotate(30deg);
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
    left: 1700px;
    top: -250px;
    -webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0.85;
	-webkit-animation: moveclouds 28s linear infinite;
	-moz-animation: moveclouds 28s linear infinite;
    -o-animation: moveclouds 28s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 1900px;
	top: 100px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 28s linear infinite;
	-moz-animation: moveclouds 28s linear infinite;
	-o-animation: moveclouds 28s linear infinite;
}

.x3 {
	left: 1700px; top: -500px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.6; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 23s linear infinite;
	-moz-animation: moveclouds 23s linear infinite;
	-o-animation: moveclouds 23s linear infinite;
}

.x4 {
	left: 1700px; top: 175px;
	
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.75; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 21s linear infinite;
	-moz-animation: moveclouds 21s linear infinite;
	-o-animation: moveclouds 21s linear infinite;
}

.x5 {
	left: 1800px; top: -300px;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.7; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 23s linear infinite;
	-moz-animation: moveclouds 23s linear infinite;
	-o-animation: moveclouds 23s linear infinite;
}
.x6 {
	left: 1650px; top: 100px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 35s linear infinite;
	-moz-animation: moveclouds 35s linear infinite;
	-o-animation: moveclouds 35s linear infinite;
}
.x7 {
	left: 2000px; top: -300px;
	
	-webkit-transform: scale(0.78);
	-moz-transform: scale(0.78);
	transform: scale(0.78);
	opacity: 0.78; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 22s linear infinite;
	-moz-animation: moveclouds 22s linear infinite;
	-o-animation: moveclouds 22s linear infinite;
}
.x8 {
	left: 1600px; top: -100px;
	
	-webkit-transform: scale(0.45);
	-moz-transform: scale(0.45);
	transform: scale(0.45);
	opacity: 0.6; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 25s linear infinite;
	-moz-animation: moveclouds 25s linear infinite;
	-o-animation: moveclouds 25s linear infinite;
}
.x9 {
	left: 1600px; top: -300px;
	
	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
	opacity: 0.5; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 31s linear infinite;
	-moz-animation: moveclouds 31s linear infinite;
	-o-animation: moveclouds 31s linear infinite;
}
.x10 {
    left: 1600px; 
    top: -800px;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
	opacity: 0.5; /*opacity proportional to the size*/
	
	-webkit-animation: moveclouds 20s linear infinite;
	-moz-animation: moveclouds 20s linear infinite;
	-o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -2200px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -2200px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -2200px;}
}